<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение участия</title>
    <!-- Подключение шрифтов -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&family=Unbounded:wght@400&display=swap');
    </style>
</head>
<body style="background-color: #fff; color: #000; font-family: 'Manrope', sans-serif; margin: 0; padding: 0;">
<table role="presentation" style="width: 100%; border-collapse: collapse; background-color: #fff; color: #000;">
    <tr style="text-align: left;">
        <td>
            <table role="presentation" style="width: 600px; border-collapse: collapse; margin: 0;">
                <tr>
                    <td style="padding: 20px;">
                        <h1 style="font-family: 'Unbounded', sans-serif; font-size: 24px; margin: 0 0 20px 0;">Ваше заявка на участие в мероприятии успешно отправлена!</h1>
                        <p style="font-family: 'Manrope', sans-serif; font-weight: 500; font-size: 16px; margin: 0 0 20px 0;">QR-code для входа на мероприятие и все необходимые инструкции будут высланы после подтверждения организатором вашего участия в мероприятии.</p>
                        <p style="font-family: 'Manrope', sans-serif; font-weight: 600; font-size: 16px; margin: 20px 0 0 0;">Спасибо, что выбрали наш сервис!</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
